footer.footer
    .footer__container 
        .footer__email
            a(href="#") info@eco-cabins.com
        a(href="#").footer__logo 
            img(src="img/LOGO.svg", alt="logo")
        ul.footer__links
            li.footer__link
                a(href="#") Cookies
            li.footer__link
                a(href="#") Privacybeleid

